/*---------color---------*/

.light-blue {
    color: #eff9ff;
}

.clear_gray {
    color: #e0e0e0;
}

.light-gray {
    color: #9d9d9d;
}

.dark-gray {
    color: #080808;
}

.orange {
    color: #f0c80d;
}

.white {
    color: #fff;
}

/*-------------------*/

body {
/*    background-color: #262930;*/
    background-image: url(../img/ardoise-3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.row {
    margin: 0;
}


p {
    font-size: 14px;
    margin: 10px 0;
}

.small_p {
    font-size: 13px;
    margin: 0 0 2px 0;
}

a {
    color: #080808;
}

a:hover {
    color: #5e5e5e;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    color: #080808;
}

hr {
    border-top: 1px solid #e0e0e0;
}

label {
    margin: 6px 0;
}

/*---------Button----------*/

.btn_default {
    background-color: transparent;
    border-color: #555555;
    border-radius: 5px;
    color: #5e5e5e;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px;
    transition-duration: 0.4s;
}

.btn_default:hover {
    background-color: #555555;
    color: white;
}

.btn_success {
    background-color: transparent;
    color: #5e5e5e;
    border: 2px solid #4caf50;
    border-radius: 5px;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 5px;
    transition-duration: 0.4s;
}

.btn_success:hover {
    background-color: #4caf50;
    color: white;
}

.btn_danger {
    background-color: transparent;
    color: #5e5e5e;
    border: 2px solid #f44336;
    border-radius: 5px;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 5px;
    transition-duration: 0.4s;
}

.btn_danger:hover {
    background-color: #f44336;
    color: white;
}

/*---------Padding/Margin----------*/
.padding {
    padding-top: 15px;
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-xs {
    padding-bottom: 10px;
}

.margin {
    margin: 5px auto;
}

/*---------Navbar----------*/

.navbar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #f0c80d;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropup-toggle.btn-default {
    background: #f0c80d;
}

/*---------dropdown---------*/

.dropdown-menu {
    width: 100%;
}

.scrollable-menu {
    text-align: center;
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

/*---------Flash message---------*/
.flash {
    background-color: #4caf50;
    padding: 0 auto;
}

/*---------background---------*/

.background-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/img1.jpg);
    background-size: cover;
    width: 100%;
    min-height: 600px;
    padding-top: 20px;
    border-radius: 4px
}

.background-pages {
    background-color: rgba(248, 248, 248, 0.80);
    width: 100%;
    min-height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

/*---------Map-----------*/

.map-size {
    width: 70%;
    margin: 10px auto;
}

/*---------Boxes-----------*/

.box {
    color: #f8f8f8;
    width: 70%;
    height: 90px;
    margin: 105px auto 30px auto;
    border: 1px solid #e3f2fd;
    border-radius: 4px;
}

.main-box {
    background-color: rgba(248, 248, 248, 0.80);
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin: 0 10px 0 -10px;
}

.side-box {
    background-color: rgba(248, 248, 248, 0.80);
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin: 0 -10px 0 10px;
}

.user_box {
/*    border: solid 1px #000;*/
    border-radius: 4px;
    height: 185px;
}

/*----------Creator-----------*/

.creator {
    height: 90%;
    margin: 15px;
}

img {
    margin: 5px;
}

/*-------Brewery Deatils---------*/

.brewery-details {
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}

/*----------Flags-----------*/

.flags {
    padding-top: 14px;
}

/*-------Beer Deatils---------*/

.border {
    border-right: solid 1px #e0e0e0;
}

.beer-details {
    width: 95%;
    margin: 15px auto 50px auto;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}

.abv,
.ibu,
.stars {
    text-align: center;
    border-right: solid 1px #e0e0e0;
    margin: 0px auto;
    padding: 5px auto;
}

.ratings {
    text-align: center;
    border-left: solid 1px #e0e0e0;
    margin: 0px auto;
}

/*---------Edit Form-----------*/

.center_div{
    margin: 0 auto;
    width:75%
}

/*---------Footer-----------*/

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: #f8f8f8;
}

/*--------- Icons/Links (footer)-----------*/

.social-links {
    display: inline-flex;
    list-style: none;
    padding-top: 20px;
}

.icons:link,
.icons:visited {
    font-size: 160%;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.ion-social-github,
.ion-social-twitter,
.ion-social-linkedin,
.ion-android-globe {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

/*-------Color of the icon (hover)---------*/

.ion-social-github:hover {
    color: #fff;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}

.ion-android-globe:hover {
    color: rgba(123, 227, 227, 1);
}