.light-blue {
    color: #eff9ff;
}

.clear_gray {
    color: #e0e0e0;
}

.light-gray {
    color: #9d9d9d;
}

.dark-gray {
    color: #080808;
}

.orange {
    color: #f0c80d;
}




body {
    background-color: #262930;
    
}

.row {
    margin: 0;
}

p {
    margin: 10px 0;
}

a {
    color: #080808;
}

a:hover {
    color: #080808;
}

h1, h2, h3, h4, h5 {
    color: #080808;
}



.padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
    border-bottom: solid 1px #e0e0e0;
}

.white {
    color: #fff;
}

.navbar {
    background-color: #e3f2fd;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropdown-menu {
    width: 100%;
}

.scrollable-menu {
    text-align: center;
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

.background-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./img1.jpg);
    background-size: cover;
    width: 100%;
    min-height: 500px;
    padding-top: 20px;
    border-radius: 4px
}

.background-pages {
    background-color: #eff9ff;
    width: 100%;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.background-style {
    width: 100%;
    min-height: 500px;
    border-radius: 4px;
}

.box {
    color: #fff;
    width: 70%;
    height: 90px;
    margin: 80px auto 30px auto;
    background-color: rgb(227, 242, 253, 0.80);
    border: 1px solid #e3f2fd;
   border-radius: 4px;
}

.map-size {
    width: 70%;
    margin: 10px auto;
}

/*
.breweries {
    width: 90%;
    padding: 20px 20px;
    margin: 0 auto;
}

.brewery {
    padding: 15px 0px;
    border-bottom: solid 1px #555;
}
*/

/*
.brewery:hover {
    background-color: #e0e0e0;
}
*/

.main-box {
    background-color: #eff9ff;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    margin: 0px 5px;
    padding: 15px 15px;
}

.side-box {
    background-color: #eff9ff;
    border: solid 1px #555;
    border-radius: 4px;
    margin: 0px 30px;
}

.beer-details {
    width: 95%;
    margin: 15px auto 50px auto;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}

.abv,
.ibu,
.stars {
    text-align: center;
    border-right: solid 1px #e0e0e0;
    margin: 0px auto;
    padding: 5px auto;
}

.ratings {
    text-align: center;
    border-left: solid 1px #e0e0e0;
    margin: 0px auto;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
	text-align: center;
    background-color: #eff9ff;
}

/*--------- Icons/Links (footer)-----------*/

.social-links {
    display: inline-flex;
    list-style: none;
    padding-top: 20px;
}

.icons:link,
.icons:visited {
    font-size: 160%;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.ion-social-github,
.ion-social-twitter,
.ion-social-linkedin,
.ion-android-globe {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

/*-------Color of the icon (hover)---------*/

.ion-social-github:hover {
    color: #fff;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}

.ion-android-globe:hover {
    color: rgba(123, 227, 227, 1);
}