{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
            <a href = "{{url_for('showCountry')}}">{{country.name}}</a> &#8594;
            <a href = "{{url_for('showRegion', country_id=country.id)}}">{{region.name}}</a> &#8594;
            <a href = "{{url_for('showBrewery', country_id=country.id, region_id=region.id)}}">{{brewery.name}}</a>  &#8594; ...
			<h1>{{ beer.name }}
			<figure class="creator">
				<img src="{{ beer_creator.picture }}">
                <figcaption>{{ beer_creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class="flash">
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
		    <a href="{{url_for('editBeer', country_id=country.id, region_id=region.id, brewery_id=brewery.id, beer_id=beer.id)}}">
				<button class="btn btn-default delete" id="edit-beer">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Beer
				</button>
			</a>
			<a href="{{url_for('deleteBeer', country_id = country.id , region_id=region.id, brewery_id=brewery.id, beer_id=beer.id)}}">
				<button class="btn btn-default delete" id="delete-beer">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Beer
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
    <div class="row list">
            <div class="col-md-6">
                <h3>{{beer.name}}</h3>
                <p>Style: {{beer.style}}</p>
                <p>ABV: {{beer.abv}}%</p>
                <p>IBU: {{beer.ibu}}</p>
                <p><br>Description:<br>{{beer.description}}</p>
            </div>
            <div class="col-md-6">
		        <img src="/{{beer.image}}" height="auto" width="150">
                <form action="#" method = "post">
                    <div class="form-group">
                        <label for="input-2" class="control-label"><br>Rate This Beer</label>
                        <input id="input-2" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" data-size="xxs" value="">
                        <button type="submit" class="btn-sm btn-default" id="submit">
                        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Rate</button>
                    </div>
                </form>
            </div>
	    </div>
{% endblock %}
