{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
            <a href = "{{url_for('showCountry')}}">{{country.name}}</a> &#8594;
            <a href = "{{url_for('showRegion', country_id=country.id)}}">{{region.name}}</a> &#8594; ...
			<h1>{{ brewery.name }}
			<figure class="creator">
				<img src="{{ brewery_creator.picture }}">
                <figcaption>{{ brewery_creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class="flash">
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
		    <a href="{{url_for('editBrewery', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn btn-default delete" id="edit-brewery">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Brewery
				</button>
			</a>
			<a href="{{url_for('deleteBrewery', country_id = country.id , region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn btn-default delete" id="delete-brewery">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Brewery
				</button>
			</a>
			<a href="{{url_for('newBeer', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn btn-default new-beer">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add a Beer in {{brewery.name}}
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	{% for beer in beers %}
			<div class="row list">
					<div class="col-md-6">
						<h3>{{beer.name}}</h3>
						<p>Style: {{beer.style}}</p>
						<p>ABV: {{beer.abv}}%</p>
                        <p>IBU: {{beer.ibu}}</p>
                        <h4>{{num_ratings.pop(0)}} ratings</h4>
                        <input name="input-3" class="input-3 rating rating-loading" data-size="xxs" value="{{avg_stars.pop(0)}}">
                        <p>Beer added by {{beer_creator.pop(0)}}</p>
                        <a href="{{url_for('beerDetails', country_id=country.id, region_id=region.id, brewery_id=brewery.id, beer_id=beer.id)}}"><button type="button" class="btn-link btn-xs">More details here</button></a>
                    </div>
                    <div class="col-md-6">
                        <img src="/{{beer.image}}" height="auto" width="150">
                    </div>
				<div class="col-md-1"></div>
            </div>
            		
		
	{% endfor %}
{% endblock %}
