{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid background-pages">
	<div class="row">
		<div class="col-md-8">
            <div class="col-md-6 text-center brewery-details border">
                <h5><a href = "{{url_for('showBrewery', country_id=country.id, region_id=region.id)}}">{{region.name}}</a></h5>
            </div>
            <div class="col-md-6 text-center brewery-details">
                <h5><a href = "{{url_for('showRegion', country_id=country.id)}}">{{country.name}}</a></h5>
            </div>
            <div class="col-md-12 text-center padding">
			    <h2>{{brewery.name}}</h2>
            </div>
		</div>
		<div class="col-md-3 text-center">
		    <figure class="creator">
				<img src="{{beer_creator.picture}}">
                <figcaption>{{beer_creator.name}}</figcaption>
			</figure>
		</div>
	</div>

<!--
    <div class="flash">
                  {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
-->
    
    
	<div class="row padding-top padding-bottom">
		<div class="col-md-8 text-center">
		    <a href="{{url_for('editBrewery', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn_success">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Brewery
				</button>
			</a>
			<a href="{{url_for('deleteBrewery', country_id = country.id , region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn_danger">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Brewery
				</button>
			</a>
			<a href="{{url_for('newBeer', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
				<button class="btn_success">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Beer in {{brewery.name}}
				</button>
			</a>
		</div>
	</div>
	<div class="padding"></div>
	{% for beer in beers %}
                <div class="row">
                    <div class="col-md-3 image-box text-center">
                        <img src="/{{beer.image}}" height="auto" width="100">
                    </div>
                    <div class="col-md-8 details-box">
                        <h4>{{beer.name}}</h4>
                        <p>Style: {{beer.style}}</p>
                        <a href="{{url_for('beerDetails', country_id=country.id, region_id=region.id, brewery_id=brewery.id, beer_id=beer.id)}}"><button type="button" class="btn-link btn-xs">More details here</button></a>
                    </div>
                </div>
                <div class="row beer-details">
                    <div class="col-md-3 abv">
                        <p>ABV: {{beer.abv}}%</p>
                    </div>
                    <div class="col-md-2 ibu">
                        <p>IBU: {{beer.ibu}}</p>
                    </div>
                    <div class="col-md-4 stars">
                        <input name="input-3" class="input-3 rating rating-loading" data-size="xxs" value="{{avg_stars.pop(0)}}">
                    </div>
                    <div class="col-md-3 ratings">
                        <p>{{num_ratings.pop(0)}} ratings</p>
                    </div>
                </div>
                {% endfor %} 
	
</div>
{% endblock %}
