{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="container-fluid background-pages">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 text-center brewery-details">
                <h5><a href = "{{url_for('showRegion', country_id=country.id)}}"><b>{{country.name}}</b></a></h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center padding">
                <img class="flags" src="/{{region.flag}}" height="auto" width="60">
            </div>
            <div class="col-md-3 padding">
                <h2><b>{{region.name}}</b></h2>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-md-3 text-center">
            <!--


-->
        </div>
        <!--
        <div class="flash">
                      {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
    -->
    </div>
    <div class="row padding-top padding-bottom">
        <div class="col-md-12 text-center">
            <a href="{{url_for('newBrewery', country_id=country.id, region_id=region.id)}}">
                <button class="btn_success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Brewery in {{region.name}}
                </button>
            </a>
        </div>
    </div>
    <div class="padding">
        {% for brewery in breweries %}
        <div class="row">
            <div class="col-md-3 image-box text-center">
                <img src="/{{brewery.image}}" height="auto" width="100">
            </div>
            <div class="col-md-8 details-box">
                <a href="{{url_for('showBeer', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
                    <h4>{{brewery.name}}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
