{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid background-pages">
	<div class="row">
        <div class="col-md-12">
            <div class="col-md-6 text-center brewery-details border">
                <h5><a href = "{{url_for('showBrewery', country_id=country.id, region_id=region.id)}}"><b>{{country.name}}</b></a></h5>
            </div>
            <div class="col-md-6 text-center brewery-details">
                <h5><a href = "{{url_for('showBrewery', country_id=country.id, region_id=region.id)}}"><b>{{region.name}}</b></a></h5>
            </div>
		    <div class="col-md-12 text-center padding">
			    <h1>Edit Brewery</h1>
		    </div>
        </div>
	</div>
	<div class="row center_div padding-top">
        <div class="col-md-12">
            <form action="#"  method = "post" enctype = "multipart/form-data">
                <div class="form-group row text-center margin">
                    <div class="col-md-12 padding-xs">
                        <div class="col-md-2">
                            <label for="file">Image:</label>
                        </div>
                        <div class="col-md-8">
                             <input type="file" name="file"/>
                        </div>      
                    </div>
                    <div class="col-md-12 padding-xs">
                        <div class="col-md-2">
					        <label for="name">Name:</label>
                        </div>
                        <div class="col-md-8">
                            <input type ="text" class="form-control" name="name" value="{{brewery.name }}">
                        </div>
                    </div>
					<button type="submit" class="btn_success" id="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
					<a href="{{url_for('showBeer', country_id=country.id, region_id=region.id, brewery_id=brewery.id)}}">
						<button type="button" class="btn_danger">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
                </div>
			</form>
		</div>
    </div>
</div>
{% endblock %}