<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('showCountry')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Country selections!
        </a>
        <a href="{{url_for('showRegion', country_id='1')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>State selections!
        </a>
    </div>
    <div class="col-md-6 text-right">
            {%if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">Login </a>
            {% else %}
            <a href="{{url_for('disconnect')}}">Logout </a>
            {% endif %}

    </div>
</div>