{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ country.name }}</h1>
		</div>
	</div>
	<div class="row padding-top padding-bottom"></div>
	{% for region in regions %}
		<a href = "{{url_for('showBrewery', country_id=country.id, region_id=region.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 list">
						<h3>{{region.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
